.CommentItem {
  padding: 10px;
  border-bottom: 1px solid black;
}

.CommentItem .title {
  font-size: 18px;
  font-weight: bolder;
}
.CommentItem .creator {
  font-style: italic;
}
.CommentItem .description {
}
